.card {
    display: grid;
    place-content: center;
    margin: 10px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.142);
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 300px;
    max-height: 300px;
    min-height: 150px;
    background-color: white;
    border-radius: 12px;
  }